
<div class="dashboard">
    <header>
      <div class="logo">
        <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_local_convenience_store_48px-512.png"
          width="60" height="60">
      </div>
      <div class="menu">
        <ul>
          <li>
            <a href="#!">Logs</a>
            <i class="icon-down-open"></i>
          </li>
          <li>
            <a href="#!">analitycs</a>
            <i class="icon-down-open"></i>
          </li>
          <li>
            <a href="#!">Real Time</a>
            <i class="icon-down-open"></i>
          </li>
          <li>
            <a href="#!">Alertas</a>
            <i class="icon-down-open"></i>
          </li>
        </ul>
      </div>
      <div class="user-container">
        <ul>
          <li class="user">
            <a href="#!" target="_blanck">
              <img class="avatar" src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png">
            </a>
          </li>
          <li class="user-dropdown">
            <i class="icon-down-open"></i>
          </li>
        </ul>
      </div>
    </header>
    <div class="container">
      <section class="filters-container">
        <div class="filters">
          <ul>
            <li>
              <div class="filters-count">
                <span class="title-filter" >{{hostname}}</span>
  
              </div>
              <div class="searcher">
                <button value="reset">Reiniciar Servicios</button>
                <!-- <input type="text" placeholder="Text Filter"> -->
              </div>
            </li>
            <li class="active">
              <p>
                <span class="title">Modelo</span>
                <span class="info">{{model}}</span>
              </p>
              <i class="icon-right-open"></i>
            </li>
            <li class="active">
              <p>
                <span class="title">Memoria Libre</span>
                <span class="info">{{memoria_libre}}</span>
              </p>
              <i class="icon-right-open"></i>
            </li>
            <li>
              <p>
                <span class="title">Total Memoria</span>
                <span class="info current">{{total_memoria}}</span>
              </p>
              <i class="icon-right-open"></i>
            </li>
            <li class="active">
                <p>
                  <span class="title">Memoria Libre</span>
                    
                </p>
                <p class="info" >{{uptime}}</p>
                <i class="icon-right-open"></i>
              </li>
            <li>
              <p>
                <span class="title">Deploy 3.0</span>
                <span class="info">All Instaces</span>
              </p>
              <i class="icon-right-open"></i>
            </li>
  
          </ul>
        </div>
      </section>
      <section class="switch-selector">
        <div class="selector">
          <ul>
            <li *ngFor="let item of server">
              <span class="head-title"></span>
            </li>
          </ul>
        </div>
      </section>
      <main class="data-space">
        <div class="header">
          <h2>
            <a id='my-texty'></a>
            <a id='my-text'></a>
          </h2>
        </div>
        <div class="charts-container">
          <div class="last-mesurements">
            <div class="console">
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  